@model List<JobOffer>

@{
    ViewData["Title"] = "Job offers";
}

<div style="font-size:50px; margin-top:10px">
    <a data-toggle="tooltip" title="Go back to home page" href="@Url.Action("Index", "Home")">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </a>
</div>

<div>
    <h1 style="margin-top:0px">Job offers</h1>
    <div class="table-bordered" style="padding-top:7px; border:1px solid black">
        <ul>
            @foreach (JobOffer jo in @Model)
            {
                <li>@Html.ActionLink(jo.JobTitle, "Details", new { id = jo.Id })</li>
            }
        </ul>
    </div>
    <div style="margin-top:30px">
        <input type="button" class="btn btn-primary" value="Create job offer" onclick="@("window.location.href='" + @Url.Action("Create", "JobOffer") + "'");" />
    </div>
</div>

